.btn {
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    min-height: 48px;
    color: #fff;
    line-height: 48px;
    font-weight: 300;
    font-size: 13px;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition:all ease-out .3s;
    &:hover {
        color: #000;
        font-weight: 400;
        box-shadow: inset 0 -100px 0 0 #ffffff;
    }
    &:active {
        transform: scale(0.9);
    }
    &_black {
        border: 1px solid #000;
        box-shadow: inset 0 0 0 0 #000;
        color: #000;
        &:hover {
            color: #fff;
            font-weight: 400;
            box-shadow: inset 0 -100px 0 0 #000;
        }
    }
}

.link {
    position: relative;
    width: 119px;
    transition: 0.2s all ease;
    &:before {
        position: absolute;
        top: 60%;
        transform: translateY(-50%);    
        right: 0;
        line-height: 21px;
        color: #fff;
        font-size: 6px;
        transition: all 0.3s ease;
    }
    &:after {
        content: '';
        border-bottom: 1px solid #fff;
        width: 0;
        height: 100%;
        position: absolute;
        bottom: -10px;
        left: 0;
        visibility: hidden;
        opacity: 1;
        transition: .3s linear;
    }
    span {
        font-family: 'Gotham Pro';
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: #FFFFFF;
    }
    &:hover {
        transform: scale(1.05);
        &:after {
            visibility: visible;
            
            width: 100%;
        }
        &:before {
            font-size: 10px;
        }
    }
    &:active {
        transform: scale(0.9);
    }
    &_black {
        span {
            color: #000; 
        }
        &:before {
            color: #000; 
        }
        &::after {
            border-bottom: 1px solid #000;
        }
    }
}