.main-plonqx {
    padding: 150px 0;
    overflow: hidden;
    // .main-plonqx__wrapper
    &__wrapper {
        max-width: 840px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .main-plonqx__body
    &__body {
        flex: 0 0 344px;
    }
    // .main-plonqx__title
    &__title {
        margin-bottom: 28px;
    }
    // .main-plonqx__text
    &__text {
        span {
            font-weight: 500;
        }
    }
    // .main-plonqx__img
    &__img {
        flex: 0 0 280px;
        img {
            width: 100%;
            display: block;
        }
    }
}
