@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .vapor {
        &__body {
            grid-template-columns: 80px 350px;
        }   
        &__text {
            font-size: 18px;
            line-height: 140%;
        }
    }
    .safe {
        &__img {
            width: 1080px;
            right: -100px;
        }
    }
    .certificate {
        &__item {
            flex: 0 0 280px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        &__link {
            &.active {
                color: #000;
            }
        }
    }
    .banner-plonq500 {
        overflow: hidden;
        &__body {
            padding-left: 0;
        }
        &__title {
            max-width: 350px;
            font-size: 23px;
            line-height: 36px;
            margin-bottom: 0;
        }
        &__hands {
            &-up {
                width: 80%;
                top: 50px;
                right: -10%;
            }
            &-down {
                width: 80%;
                right: -0%;
            }
            &-pod {
                top: 45%;
                width: 80%;
                right: -25%;
            }
        }
        &__link {
            max-width: 145px;
           
        }
    }
    .wish {
        padding: 60px 0;
        &__body {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__title {
            padding-top: 0;
            flex: 1 1 100%;
            margin-right: 0;
            text-align: center;
            margin-bottom: 72px;
        }
        &__img {
            flex: 0 0 62px;
            margin-right: 84px;
        }
        &__list {
            flex: 0 0 350px;
        }
        &__item {
            padding-left: 65px;
            margin-bottom: 26px;
            &:first-child {
                img {
                    max-width: 22px;
                } 
            }
            &:not(:last-child) {
                margin-bottom: 26px;
            }
            img {
                max-width: 32px;
            }
            &-title {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 4px;
            }
        }
    }
    .design {
        padding: 60px 0;
        &__header {
            padding-left: 0;
        }
        &__img {
            flex: 0 0 158px;
        }
        &__body {
            justify-content: space-evenly;
        }
        &__title {
            top: 5px;
        }
        &__subtitle {
            flex: 0 0 277px;
            font-size: 23px;
            line-height: 36px;
        }
    }
    .title {
        font-size: 23px;
        line-height: 36px;
    }
    .number {
        width: 58px;
        flex:  0 0 58px;
    }
    .puff {
        min-height: 600px;
        padding: 70px 0;
        &__header {
            gap: 50px 20px;
            grid-template: minmax(35px, auto) minmax(40px, auto)/ 60px 330px;
        }
        &__title {
            top: 0;
        }
        &__text {
            font-size: 15px;
            line-height: 21px;
        }
        &__img {
            top: 200px;
        }
        &__detail {
            width: 420px;
            right: 15%;
            bottom: 10%;
        }
        &__item {
            flex: 0 0 135px;
            &-title {
                width: 86px;
                height: 86px;
                font-size: 15px;
                line-height: 21px;
            }
            &-text {
                font-size: 12px;
                line-height: 23px;
                margin-top: 10px;
            }
        }
    }
    .vapor {
        &__body {
            grid-template: minmax(35px, auto) minmax(40px, auto)/ 60px 230px;
            gap: 130px 20px;
        }
        &__title {
            top: 3px;
        }
        &__text {
            font-size: 15px;
            line-height: 21px;
        }
        &__img {
            flex: 0 1 370px;
        }
    }
    .components {
        padding: 50px 0;
        &__body {
            justify-content: flex-end;
        }
        &__header {
            margin-bottom: 45px;
        }
        &__title {
            flex: 0 0 200px;
            top: -5px;
        }
        &__img {
            flex: 0 0 64px;
            margin-right: 80px;
        }
        &__list {
            flex: 0 0 320px;
        }
        &__item {
            padding-left: 60px;
            &:not(:last-child) {
                margin-bottom: 23px;
            }
            img {
                width: 31px;
            }
        }
        &__text {
            font-size: 15px;
            line-height: 21px;
        }
    }
    .safe {
        padding: 46px 0 0 0;
        min-height: 600px;
        &__body {
            padding-left: 0;
            grid-template-columns: 60px 270px;
        }
        &__text {
            font-size: 15px;
            line-height: 21px;
        }
        &__science {
            width: 45px;
            margin-top: 48px;
            margin-left: 90px;
        }
        &__img {
            width: 800px;
            right: -50px;
        }
    }
    .tastes {
        padding: 60px 0;
        &__body {
            padding-left: 0;
            grid-template:minmax(35px, auto) minmax(42px, auto) /60px 440px;
            gap: 50px 16px;
            margin-bottom: 50px;
        }
        &__text {
            font-size: 15px;
            line-height: 21px;
        }
        &__wrapper {
            max-width: 350px;
            grid-template: repeat(4, 280px)/ repeat(3, minmax(80px, auto))  ;
            justify-content: center;
            gap: 100px 54px;
        }
        &__item {
            max-width: 80px;
            min-height: 280px;
            
            &-img {
                width: 52px;
            }
            &-title {
                right: -100%;
                bottom: 80px;
                display: flex;
                justify-content: flex-end;
                height: 21px;
            }
        }
    }
    .characteristics {
        padding: 60px 0 0 0;
        &__header {
            margin-bottom: 110px;
        }
        &__title {
            top: 0;
        }
        &__body {
            max-width: 525px;
        }
        &__wrapper {
            grid-template: repeat(3, minmax(40px, auto)) / repeat(2, 130px) ;
            gap: 55px 45px
        }
        &__item {
            grid-template: repeat(2, minmax(21px, auto)) / minmax(8px, 26px) minmax(96px, auto);
            gap: 2px 16px;
            &-img {
                width: 21px;
                &_big {
                    width: 18px;
                }
                &_small {
                    width: 10px;
                }
                img {
                    width: 100%;
                    display: block;
                }
            }
            &-title {
                font-size: 15px;
                line-height: 21px;
            }
            &-text {
                font-size: 15px;
                line-height: 21px;
            }
        }
        &__img {
            width: 112px;
            bottom: -60px;
        }
    }
    .certificate {
        padding: 60px 0;
        &__title {
            margin-bottom: 50px;
        }
        &__item {
            flex: 0 0 212px;
        }
    }
    .search {
        padding: 50px 0;
        &__title {
            max-width: 384px;
            font-size: 23px;
            line-height: 32px;
            margin-bottom: 44px;
        }
        &__img {
            max-width: 520px;
            margin-bottom: 34px;
        }
        &__btn {
            width: 180px;
            font-size: 13px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .banner-plonq500 {
        &__body {
            padding-top: 65vh;
            padding-left: 10%;
        }
        &__title {
            font-size: 14px;
            line-height: 22px;
            max-width: 250px;
        }
        &__link {
            display: none;
        }
      
    }
    .vapor {
        &__body {
            position: relative;
            z-index: 2;
        }
        &__img {
            flex: 0 0 314px;
            position: relative;
            z-index: 1;
        }
    }
    .safe {
        &__body {
            gap: 50px 24px;
        }
        &__img {
            right: -120px;
            width: 650px;
            bottom: 0;
        }
    }
    .certificate {
        &__body {
            display: block;
        }
        &__item {
            width: 212px;
            margin: 0 auto;
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .wish {
        padding: 50px 0;
        &__title {
            font-size: 18px;
            line-height: 115%;
            letter-spacing: 0.05em;
            margin-bottom: 46px;
        }
        &__img {
            padding-top: 15px;
            margin-right: 58px;
        }
        &__list {
            flex: 0 0 150px;
        }
        &__item {
            padding-left: 0;
            &:first-child {
                img {
                    max-width: 19px;
                } 
            }
            img {
                position: relative;
                top: 0;
                margin-bottom: 10px;
            }
            &-title {
                font-size: 12px;
                line-height: 115%;
            }
            &-text {
                font-size: 11px;
                line-height: 16px;
            }
        }
    }
    .title {
        font-size: 18px;
        line-height: 115%;
    }
    .number {
        width: 50px;
        flex: 0 0 50px;
    }
    .design {
        padding: 50px 0;
        &__number {
            margin-right: 28px;
        }
        &__title {
            width: 166px;
            top: 0;
        }
        &__subtitle {
            flex: 0 0 120px;
            font-size: 12px;
            line-height: 19px;
        }
        &__img {
            flex: 0 0 126px;
        }
    }
    .puff {
        padding: 50px 0;
        &__img {
            width: 960px;
            top: 150px;
            right: -330px;
        }
        &__header {
            grid-template: minmax(42px, auto) minmax(38px, auto)/ 46px 1fr;
            gap: 50px 20px;
        }
        &__title {
            top: 3px;
        }
        &__text {
            grid-area: 2/1/3/3;
            font-weight: 400;
            font-size: 11px;
            line-height: 16px;
        }
        &__detail {
            position: relative;
            display: block;
            right: 0;
            bottom: 0;
            margin-top: 200px;
            width: 100%;
        }
        &__item {
            width: 160px;
            margin: 0 auto;
            &:not(:last-child) {
                margin-bottom: 47px;
            }
            &-title {
                width: 118px;
                height: 118px;
                font-weight: 300;
                font-size: 22px;
                line-height: 32px;
            }
            &-text {
                font-size: 11px;
                line-height: 16px;
            }
        }
    }
    .vapor {
        &__body {
            grid-template: minmax(30px, auto) minmax(38px, auto)/ 46px 133px;
            gap: 172px 20px;
        }
        &__text {
            grid-area: 2/1/3/3;
            font-size: 11px;
            line-height: 16px;  
        }
        &__img {
            flex: 0 0 314px;
            position: relative;
            z-index: 1;
            margin-left: -85px;
            opacity: 0.7;
        }
    }
    .components {
        &__title {
            top: 0;
        }
        &__img {
            margin-right: 25px;
        }
        &__body {
            justify-content: space-evenly;
        }
        &__list {
            flex: 0 0 185px;
        }
        &__item {
            padding-left: 0;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            img {
                position: relative;
                margin-bottom: 8px;
            }
        }
        &__text {
            font-size: 11px;
            line-height: 16px;
        }
    }
    .safe {
        min-height: 600px;
        &__body {
            grid-template: minmax(42px, auto) minmax(38px, auto)/ 46px 190px;
        }
        &__title {
            top: 0;
        }
        &__science {
            margin-top: 30px;
            margin-left: 0;
        }
        &__img {
            width: 650px;
            right: -90px;
            opacity: 0.9;
        }
        &__text {
            grid-area: 2/1/3/3;
            text-align: left;
            font-size: 11px;
            line-height: 16px;
        }
    }
    .tastes {
        padding: 50px 0;
        &__body {
            grid-template:minmax(35px, auto) minmax(42px, auto) /60px minmax(185px, 280px);
        }
        &__title {
            top: 0;
        }
        &__text {
            font-size: 11px;
            line-height: 16px;
        }
        &__wrapper {
            max-width: 275px;
            grid-template: repeat(4, 265px)/ repeat(3, minmax(75px, auto));
            justify-content: center;
            gap: 80px 27px;
        }
        &__item {
            max-width: 73px;
            min-height: 265px;
            
            &-img {
                width: 49px;
            }
            &-title {
                right: -100%;
                bottom: 80px;
                display: flex;
                justify-content: flex-end;
                height: 16px;
                font-size: 11px;
                line-height: 16px;
            }
        }
    }
    .characteristics {
        padding: 50px 0;
        &__header {
            margin-bottom: 80px;
        }
        &__number {
            margin-right: 10px;
        }
        &__title {
            top: 5px;
        }
        &__body {
            max-width: 275px;
            padding-bottom: 40px;
        }
        &__wrapper {
            grid-template: repeat(5, minmax(32px, auto)) / 120px;
            gap: 40px 0;
        }
        &__item {
            grid-template: repeat(2, minmax(16px, auto)) / minmax(10px, 25px) minmax(84px, auto);
            gap: 1px 18px;
            &-img {
                width: 18px;
                &_big {
                    width: 17px;
                }
                &_small {
                    width: 10px;
                }
            }
            &-title {
                font-size: 12px;
                line-height: 16px;
            }
            &-text {
                font-size: 11px;
                line-height: 16px;
            }
        }
        &__img {
            width: 70px;
            bottom: 0;
        }
    }
    .certificate {
        &__title {
            margin-bottom: 30px;
        }
        &__item {
            width: 195px;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    .search {
        &__title {
            max-width: 270px;
            font-size: 18px;
            line-height: 115%;  
        }
        &__img {
            max-width: 300px;
        }
        &__btn {
            width: 144px;
            font-size: 12px;
            line-height: 38px;
            height: 38px;
        }
    }
}