.problem {
    padding: 150px 0;
    overflow: hidden;
    // .problem__wrapper
    &__wrapper {
        max-width: 1230px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    // .problem__body
    &__body {
        flex: 0 0 410px;
    }
    // .problem__title
    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 45px;
        color: #000000;
        margin-bottom: 38px;
    }
    // .problem__text
    &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        color: #000000;
        span {
            font-weight: 500;
        }

    }
    // .problem__img
    &__img {
        flex: 0 1 750px;
        img {
            width: 100%;
            display: block;
        }
    }
}
