.search {
    padding: 120px 0;
    background-color: #F9F9F9;
    // .search__title
    &__title {
        width: 448px;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto 92px auto;
        span {
            font-weight: 500;
        }
    }
    // .search__img
    &__img {
        max-width: 924px;
        margin: 0 auto 92px auto;
        img {
            width: 100%;
            display: block;
        }
    }
    // .search__btn
    &__btn {
        width: 208px;
        display: block;
        margin: 0 auto;
        font-weight: 500;
    }
}
