.tastes {
    padding: 150px 0 80px 0;
    background-color: #F9F9F9;
    // .tastes__body
    &__body {
        display: grid;
        grid-template: minmax(66px, auto) minmax(64px, auto)/ 80px 440px;
        gap: 50px 24px;
        margin-bottom: 120px;
        @media (min-width:1201px) {
            padding-left: 30px;
        }
    }
    // .tastes__title
    &__title {
        position: relative;
    }
    // .tastes__text
    &__text {
        grid-area: 2/2/3/3;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: #000000;
    }
    // .tastes__wrapper
    &__wrapper {
        max-width: 1164px;
        margin: 0 auto;
        display: grid;
        grid-template: minmax(66px, auto)/ repeat(11, minmax(64px, auto));
        grid-column: 46px;
        justify-content: space-between;
    }
    // .tastes__item
    &__item {
        max-width: 64px;
        position: relative;
        min-height: 530px;
        transition: all 0.3s ease;
        @media (any-hover: hover) {
            &:hover {
                .tastes__item-img {
                    transform: scale(1.05);
                    filter: drop-shadow(0px 0px 20px #acacac);
                }  
            }
        }
        // .tastes__item-img
        &-img {
            width: 64px;
            transition: all 0.3s ease;
            @media (any-hover: hover) {
                filter: drop-shadow(12px 20px 14px #acacac);
            }
            img {
                width: 100%;
                display: block;
            }
            
        }
        // .tastes__item-title
        &-title {
            position: absolute;
            bottom: 70px;
            right: -48px;
            display: inline-block;
            height: 24px;
            width: 169px;
            transform: rotate(90deg);

            font-weight: 400;
            font-size: 15px;
            line-height: 21px;
            color: #000000;
        }
    }
}

